@use './colors.scss' as *;

// Breakpoints
$tablet: 6;
$desktop: 10;

// Fonts
$body-font: unset;
$body-line-height: 25px;

// Colors
$body-color: black;

// Sizes
$base-font-size: 15px;

// Transitions
$time: 0.3s;
$ease: ease-in-out;
